<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Note model in card format</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@800&display=swap');
      body {
        text-align: center;
        align-items: center;
        margin: 0;
        background: linear-gradient(to right top, #4eafdd, #48b4d5, #4eb9cc, #5bbcc2, #6bbfb8) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      header {
        background-color: #452c63;
      }

      header::after {
        content: '';
        display: table;
        clear: both;
      }

      nav {
        float: left;
        font-family: 'Encode Sans', sans-serif;
      }

      .nav-ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      nav li {
        display: inline-block;
        margin-left: 30px;  
        padding-top: 23px;
        padding-bottom: 23px;
        position: relative;
        
      }

      nav a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
      }

      nav a:hover {
        color: #CFB784;
      }

      nav a::before {
        justify-content: flex-start;
        height: 5px;

        position: absolute;
        transition: all ease-in-out 250ms;
      }

      nav a:hover::before {
        width: 100%;
      }

      .note{
          margin: 23px 23px;
          padding: 20px;
          border: 1px solid black;
          display: inline-block;
          border-radius: 10px;
          background-color: #CFB784;
      }

      .note:hover {
          background-color: #EADEB8;
          font-family: 'Courier New', Courier, monospace;
      }
    </style>

</head>
<body>
     <header>
        <div class="container">
          <nav>
            <ul class="nav-ul">
              <li><a href="/">Home</a></li>
              <li><a href="/lab-4">Table Notes</a></li>
              <li><a href="/lab-4/add-note/">Form Notes</a></li>
              <li><a href="/lab-4/note-list/">Card Notes</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <div class="list-notes">
          <h1>List Note</h1>
          {% if notes %}
            {% for note in notes %}
                <div class="note">
                    <h3>To:{{ note.to }}</h3>
                    <h3>From:{{ note.From }}</h3>
                    <h4>{{ note.title }}</h4>
                    <p>{{ note.message }}</p>
                </div>
            </tr>
            {% endfor %}
          {% endif %}
        </table>
      </div>
</body>
</html>