<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@800&display=swap');
      body {
        text-align: center;
        align-items: center;
        margin: 0;
        background: linear-gradient(to right top, #86d1a5, #6dcdb4, #5ac7c3, #52c0ce, #59b8d5, #50bcda, #46bfdf, #39c3e4, #00d4e0, #00e3cf, #57efb4, #94f894) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      header {
        background-color: #452c63;
      }

      header::after {
        content: '';
        display: table;
        clear: both;
      }

      nav {
        float: left;
        font-family: 'Encode Sans', sans-serif;
      }

      .nav-ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      nav li {
        display: inline-block;
        margin-left: 30px;
        padding-top: 23px;
        padding-bottom: 23px;
        position: relative;
        
      }

      nav a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
      }

      nav a:hover {
        color: #CFB784;
      }

      nav a::before {
        justify-content: flex-start;
        height: 5px;

        position: absolute;
        transition: all ease-in-out 250ms;
      }

      nav a:hover::before {
        width: 100%;
      }

      .table-of-note{
        margin: 23px 0 0 23px;
        font-family: 'Courier New', Courier, monospace;
        margin-top: 23px;
      }

      table, th, td {
        border: 2px solid black;
      }

      td {
        font-size: large;
      }

      th:hover {
       background-color: #B0E0E6;
       color: #132257;
       text-transform: uppercase;
      }

      td:hover {
        background-color: #76ABDF;
      }


    </style>
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <ul class="nav-ul">
            <li><a href="/">Home</a></li>
            <li><a href="/lab-4">Table Notes</a></li>
            <li><a href="/lab-4/add-note/">Form Notes</a></li>
            <li><a href="/lab-4/note-list/">Card Notes</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="table-of-note">
      <table>
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th>Message</th>
        </tr>
        {% if notes %}
          {% for note in notes %}
          <tr>
            <td>{{ note.to }}</td>
            <td>{{ note.From }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.message }}</td>
          </tr>
          {% endfor %}
        {% endif %}
      </table>
    </div>
  </body>
</html>
