<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form for insert Note</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@800&display=swap');
        body {
        margin: 0;
        background: linear-gradient(to left top, #a9d098, #7dcda8, #4dc7be, #1bbed4, #2db1e3, #40ace3, #51a7e2, #60a2e0, #55a6dc, #4ea9d6, #4caccf, #50aec8) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      header {
        background-color: #452c63;
      }

      header::after {
        content: '';
        display: table;
        clear: both;
      }

      nav {
        float: left;
        font-family: 'Encode Sans', sans-serif;
      }

      .nav-ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      nav li {
        display: inline-block;
        margin-left: 30px;
        padding-top: 23px;
        padding-bottom: 23px;
        position: relative;
        
      }

      nav a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
      }

      nav a:hover {
        color: #CFB784;
      }

      nav a::before {
        justify-content: flex-start;
        height: 5px;

        position: absolute;
        transition: all ease-in-out 250ms;
      }

      nav a:hover::before {
        width: 100%;
      }

      .container-form {
          margin: 0 23px;
          position: relative;
      }

      input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 10px;
      }

      input[type=text]:focus {
          background-color: #6699CC;
      }

      textarea{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 10px;
      }

      textarea:focus {
          background-color: #6699CC;
      }

      .submit-btn {
          display: block;
          justify-content: center;
          align-items: center;
          height: 30px;
          width: 200px;
          box-sizing: content-box;
          border-radius: 10px;
      }

      .submit-btn:hover{
          background-color: #73C2FB;
          color: #002244;
      }
    </style>

</head>
<body>
    <header id='apa'>
        <div class="container">
          <nav>
            <ul class="nav-ul">
              <li><a href="/">Home</a></li>
              <li><a href="/lab-4">Table Notes</a></li>
              <li><a href="/lab-4/add-note/">Form Notes</a></li>
              <li><a href="/lab-4/note-list/">Card Notes</a></li>
            </ul>
          </nav>
        </div>
      </header>

    <div class="container-form">
        <h3>Tambahkan note di sini!</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_p }}
            </table>
            <input type="submit" value="Submit" class="submit-btn">
        </form>
    </div>
</body>
</html>